
table{
	width: 100%;
	margin-bottom : .5em;
    table-layout: fixed;

}

td, th {
	padding: .7em;
	margin: 0;
	border: 1px solid #ccc;
	text-align: center;
}

th{
	font-weight: bold;
	background-color: rgb(255, 9, 9);
}
tr{
    background-color: rgb(0, 0, 0);
}
table{
    background-color: rgb(0, 0, 0);
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    width: 90%;
	margin-bottom : .5em;
    table-layout: fixed;
    margin-left: 5%;

}


